.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


/* header styles */

.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: center left, bottom right;
}

/* shared style */

.secondary-bg {
  background-color: #fff8f3;
}

.dark-1{
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
} 

nav {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: 0 200px;
}

.btn-primary {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  background-color: #fd6e0a;
  border-radius: 5px;
  padding: 18px 35px;
  border: none;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 46px;
}

nav li a {
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.text-primary {
  color: #fd6e0a;
}

/* Banner styles */

.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 200px;
}

.banner-content{
  max-width: 585px;
}

.banner-greetings {
  font-weight: 600;
  font-size: 45px;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;
  color: #181818;
}

.banner-button {
  border: #fd6e0a;
}

.content-description {
  font-size: 18px;
}

.banner-profile-pic{
  width: 580px;
}

/* main styles */

main {
  max-width: 1140px;
  margin: 0px auto;
}

main section{

  margin-top: 130px;
  margin-bottom: 130px;
}

/* first section */   


/* About styles */
.About {
  border-radius: 10px;
  text-align: center;
  padding: 130px 150px;
}

.section-title {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}

.section-description {
  font-weight: normal;
  font-size: 18px;
}

.About-items {
  display: flex;
  justify-content: space-around;
}

.item-description{

    font-weight: bold;
}

/* second section- what i do */

/* skills section styles */

.skills-container{

  display: flex;
  gap: 24px;
}

.skills{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.skill-description{
  font-weight: normal;
  font-size: 18px;
  margin: 30px 115px 50px;
  opacity: 100%;
}

.skills-description{

  font-weight: normal;
  font-size: 16px;
  color: #757575;
}

.skill-title{
  font-weight: bold;
  font-size: 35px;
}

/* resume section styles */


.resume-section-title{
  color: green;
  margin-bottom: 50px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.resume-container{
  display: flex;
  gap: 30px;
}

.resume-column-title{
  font-weight: bold;
  font-size: 30px;
  color: #474747;
}

.experience-title{
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  margin-bottom: 0px;
}

.experience-subtitle{
  font-weight: 600px;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}

.experience-descriptions{
  font-weight: normal;
  font-size: 16px;
  color: #757575;
  margin-top: 15px;
}

.resume hr{
  margin: 30px 0px;
}