.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


/* header styles */

.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: center left, bottom right;
}

.header-btn {
  margin-top: 40px;
}

/* shared style */

.secondary-bg {
  background-color: #fff8f3;
}

.dark-1{
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
} 

nav {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-port-blog{
  font-weight: bold;
  color: darkgreen;
  font-size: 20px;
}

.btn-primary {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  background-color: #fd6e0a;
  border-radius: 1000px;
  padding: 18px 35px;
  border: none;
  width: 200px;
  height: 65px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, darkgreen,#fd6e0a);
  z-index: -1;
}

.btn-primary:hover{
  z-index: 0;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}


nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 46px;
}

nav li a {
  text-decoration: none;
}

.text-center{
  text-align: center;
}

.text-primary {
  color: #fd6e0a;
}

/* Banner styles */

.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 200px;
}

.banner-content{
  max-width: 585px;
}

.banner-greetings {
  font-weight: 600;
  font-size: 45px;
}

.banner-title {
  font-weight: bold;
  font-size: 85px;
  color: #181818;
}
.banner-button {
  font-size: 20px;
  font-weight: bold;
  border-radius: 1000px;
  color: #FD6E0A;
  padding: 18px 23px;
  margin-left: 30px;
  border-color: rgba(253, 110, 10, 1);
  width: 160px;
  height: 65px;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.banner-button::after {
  content: '';
  position: absolute;
  border-radius: 1000px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, darkgreen, yellow);
  z-index: -1;
}

.banner-button:hover{
  z-index: 0;
}

.header-btn{
  display: flex;
}
.content-description {
  font-size: 18px;
}

.banner-profile-pic{
  width: 580px;
}

.banner-button>a {
  text-decoration: none;
}

/* main styles */

main {
  max-width: 1140px;
  margin: 0px auto;
}

main section{

  margin-top: 130px;
  margin-bottom: 130px;
}

/* first section */   


/* About styles */
.About {
  border-radius: 10px;
  text-align: center;
  padding: 130px 150px;
}

.section-title {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}

.section-description {
  font-weight: normal;
  font-size: 18px;
}

.About-items {
  display: flex;
  justify-content: space-around;
}

.item-description{
  font-weight: bold;
}

/* second section- what i do */

.skills-container{

  display: flex;
  gap: 24px;
}

.skills{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.skill-description{
  font-weight: normal;
  font-size: 18px;
  margin: 30px 115px 50px;
  opacity: 100%;
}

.skills-description{

  font-weight: normal;
  font-size: 16px;
  color: #757575;
}

.skill-title{
  font-weight: bold;
  font-size: 35px;
}

/* resume section styles */

.resume-section-title{
  color: green;
  margin-bottom: 50px;
  text-decoration: underline;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.resume-container{
  display: flex;
  gap: 30px;
}
.resume-column-title{
  font-weight: bold;
  font-size: 30px;
  color: #474747;
}

.experience-title {
  font-weight: bold;
  font-size: 25px;
  color: #474747;
  margin-bottom: 0px;
}

.experience-subtitle{
  font-weight: 600px;
  font-size: 20px;
  color: #757575;
  margin-bottom: 20px;
}

.experience-descriptions{
  font-weight: normal;
  font-size: 16px;
  color: #757575;
  margin-top: 15px;
}

.resume hr {
  margin: 30px 0px;
}

.resume-download-btn{
  margin-top: 50px;
  margin-left: 500px;    
}


/* footer styles */

footer{
  display: flex;
  padding: 130px 230px;
  gap: 115px;
}

.footer-column{
  width: 50%;
}

.footer-section-title{
  font-size: 35px;
  font-weight: bold;
}

footer input[type="text"], footer input[type="text"]{
  display: block;
  height: 65px;
  border-radius: 5px;
  background-color: white;
  color: #757575;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  padding: 18px 0 18px 30px;
  font-size: 18px;
}

textarea{
  background-color: white;
  border-radius: 5px;
  height: 180px;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  padding: 18px 0 18px 30px;
  font-size: 18px;
}


/* Responsive website */

.hide{
  display: none;
}
/* small devices */

@media screen and (max-width:576px){

  .header{
    background-image: none;
  }

  .banner{
    flex-direction: column-reverse;
    margin: 20px;
  }

  .banner-profile-pic {
    width: 100%;
    height: 100%;
  }

  .header-btn{
    margin-bottom: 20px;
  }

  .About{
    padding: 30px 20px;
  }

  .skill-description{
    margin: 30px 20px;
  }
  .skills-container, .About-items, nav, nav>ul{
    flex-direction: column;
  }

  nav>ul{
    gap: 20px;
  }

  .resume-container{
    flex-direction: column;
    padding: 20px;
  }

  .resume-download-btn{
    margin-left: 100px;
  }

  footer{
    flex-direction: column;
    padding: 130px 20px;
  }

  .footer-column{
    width: 100%;
  }

  form{
    width: calc(100% - 40px);
  }
}

@media screen and (min-width:576px) and (max-width:990px){

  .banner{
    flex-direction: column-reverse;
  }

  nav{
    margin-left: 40px;
  }
  nav>ul{
    gap: auto;
  }

  .banner-profile-pic {
    width: 100%;
    height: 100%;
  }

  
  .header-btn{
    margin-bottom: 20px;
  }
  
  .skills-container,.About-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .resume-container {
    margin: 20px;
  }

  .resume-download-btn{
    margin-left: 350px;
  }
}