
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */

.header{

    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-2 {
    color:#474747;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin: 0 200px;
}

.btn-primary{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
   
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 46px;   
}

nav li a {
    text-decoration: none;
}

/* Banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content{
    max-width: 585px;

}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}

.banner-title{
    font-weight: bold;   
    font-size: 85px;
    color: #181818;
}

.banner-button{
    border: #FD6E0A;
}

.content-description{ 
    font-size: 18px;
}

.dark-3{
    color: #757575;
}
